<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Forgot password Form</title>
</head>

<body class="bg">

    <div class="d-flex justify-content-center align-items-center login-container">
        <form class="login-form text-center" method="POST">
            <h1 class="mb-5 font-weight-light text-uppercase">Quên mật khẩu</h1>
            {{#if error}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{error}}
            </div>
            {{/if}}
            <div class="form-group">
                <input type="text" name="email" id="email" class="form-control rounded-pill form-control-lg" placeholder="Email" required>
            </div>

            <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase">Lấy mật khẩu
                </button>
        </form>
    </div>

</body>

</html>